<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Cleanning</title>
</head>
<body>
    

    <nav>
        {% if not user.is_authenticated %}
        <a href="{% url 'inscription' %}">Inscription</a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a href="{% url 'connexion' %}">Connexion</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'deconnexion' %}">Déconnexion</a>
        {% endif %}
        
    </nav>
    <h1>hello</h1>
    
</body>
</html>