{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nous contacter</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>

        <!-- Bandeau supérieur -->
        <div class="topnav">
            <a href="{% url 'analyses' %}">Analyses</a>
            <a href="{% url 'import_csv' %}">Ajout</a>
            <a href="{% url 'contact_us' %}">Nous contacter</a>
        </div>

        <!-- Contenu principal -->
        <div class="container">
            <h1>Nous contacter</h1>
            <form method="POST" action="{% url 'contact_us' %}">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="subject">Suject:</label>
                <input type="text" id="subject" name="subject" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit">Soumettre</button>
            </form>
        </div>

        <!-- Bandeau inférieur -->
        <div class="footer">
            <a href="{% url 'help' %}">Help</a>
            <a href="{% url 'about_us' %}">About Us</a>
        </div>

    </body>
</html>
