<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AutoMl</title>
    <!-- Lien vers une feuille de style CSS -->
    
</head>
<body>

    <!-- En-tête de la page -->
    <header>
        <h1>Inscription</h1>
        <nav>
            <a href="{% url 'connexion' %}" > Déja inscrit? Connectez vous!</a>
            <ul>
                <li><a href="#services">Services</a></li>
            </ul>
        </nav>
    </header>


  

</body>
</html>
