.nav_police_black {
    font-size: 2em;
    color: white;
    text-decoration: None;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 10px;
    border: 2px solid rgb(96, 39, 29);
    display:grid;
}
.nav_police_black:hover {
    background-color: rgb(152, 63, 47);
}
.nav_police_black:active {
    background-color: rgb(31, 12, 8);
}
.nav_black {
    background-color: rgb(104, 16, 16) ;
    padding: 0.5em;
    display:flex;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0);
}
.a_nav_black {
    text-decoration: None;
    color: white;
    font-family: 'Playfair Display', sans-serif;
}

#object_draggable {
    height: 20px;
    background-color: black;
    width:20px;
    cursor: grab;
    display: inline-block;
}

#zone_drag {
    width:308px;
    height:308px;
    border:4px solid black;
    position:relative;
}