.nav_police_black {
    font-size: 1.7em;
    color: white;
    text-decoration: None;
}
.nav_black {
    block-size: 30px;
    background-color: black;
    padding: 3px;
    border:3px;
    border-color:red;
}
.nav_block_black {
    writing-mode: horizontal-tb;
    block-size: 20px;
}