<html>
    <head>
        <title>Espace result</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <script src="{% static 'scripts.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <nav class="nav_black">
            <a href="{% url 'home' %}" class="a_nav_black">
                <div class="nav_police_black">
                HOME
                </div>
            </a>
            <a href="{% url 'perso'%}" class="a_nav_black">
                <div class="nav_police_black">
                Espace Perso
                </div>
            </a>
            </nav>
        <h1>Page pour créer un projet</h1>
        <div>
            <form method="POST"  action="{% url 'creer_project' %}">
                {% csrf_token %}
                
                <label for="projet">Creer un projet :</label>
                <input type="text" id="nom_projet" name="nom_projet" placeholder="Entrez le nom du projet" required minlength="3" maxlength="100">
                <button type="submit">Creer</button>
            </form>

        </div>
        <h1>Page pour regarder les projet</h1>
        <div >
            {% if projects %}
                <ul>
                    {% for project in projects %}
                        <div class="card-container">
                            <div class="card">
                              <header class="card-header header-img">
                                <img src="https://bigmedia.bpifrance.fr/sites/default/files/styles/dossier_page/public/2024-08/Comment%20int%C3%A9grer%20l%27IA%20dans%20votre%20entreprise%20en%208%20%C3%A9tapes.png.webp?itok=UR-fuYVr" alt="">
                                <p class="header-title">{{ project.nom_projet }}</p>
                              </header>
                              <div class="card-body"></div>
                              <div class="card-footer">
                                <button class="btn" onclick="window.location.href='{% url 'project' project_name=project.nom_projet %}'">Go</button>
                                <button class="btn" id="delete_btn" name="action_liste_prj" value="action1">Delete le projet</button>
                              </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun projet trouvé.</p>
            {% endif %}
        </div>
    </body>
</html>