{% extends 'base.html' %}
{% block content %}
{% load filters %}
{% load static %}
<script src="{% static 'scripts.js' %}"></script>
    <body>
        

        <nav class="nav_black">
            <a href="{% url 'home' %}" class="a_nav_black">
                <div class="nav_police_black">
                    HOME
                </div>
            </a>
            <a href="{% url 'perso'%}" class="a_nav_black">
                <div class="nav_police_black">
                    Espace Perso
                </div>
            </a>
        </nav>

        <main>
        </br></br>
            <section>
                <h1>Choisir la target et les features</h1>
                <form method="post" action="{% url 'ML' project_name=project_name filename=filename%}">
                    {% csrf_token %}
                    <label for="columns">Target :</label>
                    <select class="select_mult" id="target" name="target" style="width: 100%;">
                        {% for col in columns %}
                            <option value="{{ col }}">{{ col }}</option>
                        {% endfor %}
                    </select>
                    <label for="columns">Features :</label>
                    <select class="select_mult" id="features" name="features" multiple="multiple" style="width: 100%;">
                        <option value="all" selected>all other</option>
                        {% for col in columns %}
                            <option value="{{ col }}">{{ col }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="action_process" value="target_features">Valider</button>
                </form>
            </section>
            {%if target is not none and features is not none%}
            <div>
                La colonne target séléctioner est : {{target}}</br>
                Les colonnes features séléctionner sont : {%for col in features%}{{col}}, {%endfor%}
            </div>
            {%endif%}
            
            <div>
                <form method="post" action="{% url 'ML' project_name=project_name filename=filename%}">
                    {% csrf_token %}
                    <button type="submit" name="action_process" value="machine_learning">Faire ML</button>
                </form>
            </div>
            
        </main>
        <script>
             $(document).ready(function() {
                $('.select_mult').select2({
                    placeholder: "Sélectionnez des colonnes",
                    allowClear: true
                });
            });
        </script>
    </body>
    {% endblock %}