<html>
    <head>
        <title>Espace import data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <script src="{% static 'scripts.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <nav class="nav_black">
            <a href="{% url 'home'%}" class="a_nav_black">
                <div class="nav_police_black">
                HOME
                </div>
            </a>
            <a href="{% url 'perso' %}" class="a_nav_black">
                <div class="nav_police_black">
                Espace Perso
                </div>
            </a>
            <a href="{% url 'browse_file' %}" class="a_nav_black">
                <div class="nav_police_black">
                Browse File
                </div>
            </a>
            
        </nav>
        <h1>Bonjour mec tu est dans la partie projet!!!!!</h1>
        <form method="POST" enctype="multipart/form-data" action="{% url 'upload_csv' %}">
            {% csrf_token %}
            <label for="csv_file">Télécharger un fichier CSV :</label>
            <input type="file" id="csv_file" name="csv_file" accept=".csv">
            <button type="submit">Uploader</button>
            {% if form.errors %}
                <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% endif %}
        </form>
    </body>
</html>