<html>
    <head>
        <title>Espace import data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load filters %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="nav_black">
            <a href="{% url 'home'%}" class="a_nav_black">
                <div class="nav_police_black">
                HOME
                </div>
            </a>
            <a href="{% url 'perso' %}" class="a_nav_black">
                <div class="nav_police_black">
                Espace Perso
                </div>
            </a>
            <a href="{% url 'liste_project' %}" class="a_nav_black">
                <div class="nav_police_black">
                Project
                </div>
            </a>
        </nav>
        <section>
            <h1>Choisissez les colonnes à encoder (Catégoriques)</h1>
            <form method="post" action="{% url 'viz_data' project_name=project_name filename=filename %}">
                {% csrf_token %}
                <label for="columns">Colonnes disponibles :</label>
                <select class="select_mult" id="columns" name="columns" multiple="multiple" style="width: 100%;">
                    <option value="all" selected>all</option>
                    {% for col in numerical_columns %}
                        <option value="{{ col }}">{{ col }}</option>
                    {% endfor %}
                </select>

                <h3>Méthode d'encodage :</h3>
                {% for value in methods %}
                    <label>
                        <input type="radio" name="method" value="{{ value }}">
                        {{ value }}
                    </label><br>
                {% endfor %}
                <button type="submit" name="action_process" value="action1">Valider</button>
            </form>
            <div>
                {%if message%}
                    {{message}}
                {%endif%}
            </div>
        </section>
        <section>
            {% for fig in figs %}
                <br>
                    <div>
                        <form method="post" action="{% url 'viz_data' project_name=project_name filename=filename %}">
                            <!-- CSRF token obligatoire -->
                            {% csrf_token %}
                            
                            <img src="data:image/png;base64,{{ fig }}" alt="Graphique" />
                            
                            <!-- Champ caché pour transmettre la figure -->
                            <input type="hidden" name="fig_data" value="{{ forloop.counter0 }}" />
                            
                            <button type="submit" name="action_process" value="save">Sauvegarder le graphique</button>
                            <button type="submit" name="action_process" value="del">Supprimer le graphique</button>
                        </form>
                    </div>
            {% endfor %}
        </section>

        <script>
        $(document).ready(function() {
            $('.select_mult').select2({
                placeholder: "Sélectionnez des colonnes",
                allowClear: true
            });
        });
        </script>
    </body>