 {
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale de l'élément */
    margin: 0; /* Supprime la marge par défaut */
    padding: 0; /* Supprime le padding par défaut */
}

body {
    font-family: Arial, sans-serif; /* Police de caractères */
    line-height: 1.4; /* Hauteur de ligne pour une meilleure lisibilité */
    background-color: #FFF0F5; /* Fond LavenderBlush*/
    color: #333333; /* Couleur de texte */
}

/* Bandeau */
.header {
    background-color: DDA0DD; /* Couleur de fond du bandeau : Plum*/
    color: rgb(196, 190, 190); /* Couleur du texte*/
    padding: 20px; /* Espacement interne */
    text-align: center; /* Centre le texte */
    box-shadow: 0 2px 5px rgba(54, 33, 173, 0.1); /* Ombre pour un effet de profondeur */
}

.header h1 {
    margin-bottom: 10px; /* Marge inférieure pour séparer le titre du texte */
    text-align: center; /* Centre le texte */
}

.header p {
    font-size: 1.2em; /* Taille de la police pour le paragraphe */
    text-align: center; /* Centre le texte */
}

/* Contenu principal */
.container {
    max-width: 800px; /* Largeur maximale du conteneur */
    margin: 20px auto; /* Marge automatique pour centrer horizontalement */
    padding: 20px; /* Espacement interne */
    background: yellowgreen; /* Fond blanc pour le conteneur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour donner de la profondeur */
    text-align: center; /* Centre le texte */
}

/* Styles de formulaire */
form {
    display: flex; /* Utilise flexbox pour la mise en page */
    flex-direction: column; /* Aligne les éléments verticalement */
    text-align: center; /* Centre le texte */
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Marge automatique pour centrer horizontalement */

}

form input,
form button {
    margin: 10px 0; /* Marge supérieure et inférieure pour l'espacement */
    padding: 10px; /* Espacement interne pour le confort */
    border: 1px solid #cccccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 1em;
    padding: 0.8em;
    font-size: 1em;
}



/* Styles pour le bouton */
form button {
    background-color: blueviolet; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Supprime la bordure par défaut */
    cursor: pointer; /* Change le curseur au survol */
    font-size: 1em; /* Taille de police légèrement plus petite */
}
form button:hover {
    background-color: #5e4db6; /* Couleur DES BOUTONS légèrement plus foncée au survol */
}

/* Footer */
.footer {
    text-align: center; /* Centre le texte dans le pied de page */
    padding: 20px; /* Espacement interne */
    margin-top: 10px; /* Marge supérieure pour séparer du contenu principal */
    font-size: 0.9em; /* Taille de police légèrement plus petite */
    color: #fcfcfc; /* Couleur du texte plus claire */
    background-color: #333; /* Couleur de fond */
    position: fixed; /* Fixe le pied de page en bas */
    width: 100%; /* Occupe toute la largeur */
    bottom: 0; /* Positionne le pied de page en bas */
}

.footer a {
    color: #f4f4f7; /* Couleur des liens dans la barre OK*/
    margin: 15px; /* Espacement entre les liens OK */
    text-decoration: none; /* Supprime la décoration de lien */
}

.footer a:visited {
    color: #e948c6; /* Couleur des liens visités dans la barre*/
}
.footer a:hover {
    color: #3de7c2; /* Change la couleur au survol  OK*/
}