{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DataLab_IA</title>
        <link rel="stylesheet" href="{% static 'Exploration_donnees/styles.css' %}">
    </head>
    <body>

        <!-- Bandeau supérieur 
        <div class="topnav">
            <a href="{% url 'analyses' %}">Analyses</a>
            <a href="{% url 'import_csv' %}">Ajout</a>
        </div>-->

        <!-- Contenu principal -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <!-- Bandeau inférieur -->
        <nav>
        <div class="footer">
            <a href="{% url 'contact_us' %}">Nous contacter</a>
            <a href="{% url 'help' %}">Aide</a>
            <a href="{% url 'about_us' %}">A propos de nous</a>
        </div>
        </nav>

    </body>
</html>
