
{% extends 'Exploration_donnees/base.html' %}
{% block content %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DataLab_IA</title>
       
    </head>
    <body>
        <!-- Contenu principal -->
        <div class="content">
            <div class="container">
                <h1 class="title">Bonjour !</h1>
                <p class="welcome-text">Bienvenue dans votre compte DataLab ! </p>
                
                <h2>Vous avez <strong>{{ utilisateurs|length }}</strong> fichier(s) dans votre base.</h2>
                <div class="topnav">
                    <a href="{% url 'analyses' %}">Analyses</a>
                    <a href="{% url 'import_csv' %}">Ajout</a>
                </div>
            </div>
        </div>

        <!-- Bandeau inférieur -->
        <nav>
        <div class="footer">
            <a href="{% url 'contact_us' %}">Nous contacter</a>
            <a href="{% url 'help' %}">Aide</a>
            <a href="{% url 'about_us' %}">A propos de nous</a>
        </div>
        </nav>

    </body>
</html>

{% endblock %}
