
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DataLabIA</title>
        <link rel="stylesheet" href="{% static 'Exploration_donnees/styles.css' %}">
    </head>
    <body>

        <!-- Bandeau supérieur -->
        <div class="topnav">
            <a href="{% url 'analyses' %}">Analyses</a>
            <a href="{% url 'import_csv' %}">Ajout</a>
        </div>

        <!-- Contenu principal -->
        <div class="content">
            <div class="container">
                <h1 class="title">Bonjour !</h1>
                <p class="welcome-text">Bienvenue dans votre compte DataLab ! </p>
                
                <h2>Vous avez <strong>{{ utilisateurs|length }}</strong> fichier(s) dans votre base.</h2>
                <div class="user-list">
                    {% for utilisateur in utilisateurs %}
                        <div class="user-card">
                            <h3>{{ utilisateur.nom|upper }}</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Bandeau inférieur -->
        <nav>
        <div class="footer">
            <a href="{% url 'contact_us' %}">Nous contacter</a>
            <a href="{% url 'help' %}">Aide</a>
            <a href="{% url 'about_us' %}">A propos de nous</a>
        </div>
        </nav>

    </body>
</html>

